body {
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;

    background: linear-gradient(to bottom, #0d081b, #3c016d, #030104, #000, #030104, #0d081b, #3c016d);
}


/* Header *Start* */

.header {
    padding: 40px 0;
}

.header>.container {
    margin: 0 160px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.header-nav {}

.header-nav__item {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: #fff;
    text-decoration: none;

    transition: linear .2s;
}
.header-nav__item:hover {
    opacity: .6;
}
.header-nav__item:not(:last-child) {
    margin-right: 16px;
}

/* Header *Stop* */


/* Main section *Start* */

.main-section>.container {
    margin: 0 140px;
}

.text-h1 {
    font-family: 'Geometric 415';
    font-size: 64px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    line-height: 64px;
    color: #fff;
}

.main-section .text-h1 {
    margin-top: 60px;
}

.text-h2 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.text-h1+.text-h2 {
    margin-top: 48px;
}

/* Main section *Stop* */


section:not(:last-child) {
    margin-bottom: 60px;
}

/* Search section *Start* */

.search-section > .container {
    margin: 0 160px;
}

.search {
    background-color: #fff;
    border-radius: 48px;

    display: flex;
    align-items: center;
}

.text-h2+.search {
    margin-top: 48px;
}

.search__input {
    padding: 10px 32px;

    width: 100%;
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    text-align: left;
    line-height: 32px;
    color: #352b48;
    background-color: transparent;
    border: none;

    outline: none;
}

.search__btn {
    margin: 5px;

    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #12004e;
    border-radius: 50%;
    border: none;

    transition: linear .2s;
    cursor: pointer;
}

.search__btn>img {
    width: 65%;

    filter: invert(1);
}

.search__btn:hover {
    opacity: .8;
}

/* Search section *Stop* */


/* Categories section *Start* */

.categories-section > .container {
    margin: 0 320px;
}

.category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-list__item {
    padding: 10px 48px;
    margin-bottom: 12px;

    border: 1px solid #fff;
    border-radius: 48px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

.category-list__item:not(:last-child) {
    margin-right: 12px;
}

/* Categories section *Stop* */


/* Pros section *Start* */

.pros-section > .container {
    margin: 0 220px;
}
.pros-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
.pros-list__item {
    padding: 40px 20px;

    display: flex;
    align-items: center;

    background: linear-gradient(to bottom, #110634, #340758);
    border-radius: 8px;
}
.pros-list__icon {
    margin-right: 20px;

    filter: invert(1);
}
.pros-list__text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
}


/* Pros section *Stop* */


/* Catalogue section *Start* */

.catalogue-section > .container {
    margin: 0 160px 0 0;

    display: grid;
    gap: 80px;
    grid-template-columns: auto 1fr;
}
.catalogue-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 24px;
}
.catalogue-list__item {
    padding: 24px 28px;
    width: calc(100% - 56px);
    height: fit-content;

    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #000;
}
.catalogue-list__wrapper {
    margin-bottom: 16px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}

.catalogue-icons {
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.catalogue-icons__item {
    width: 32px;
    height: 32px;
}

.catalogue-icons__item > img {
    width: 100%;
    height: 100%;
}

.catalogue-list__preview {
    margin: 0 auto;

    max-width: 250px;
    height: 250px;

    border-radius: 12px;
    overflow: hidden;
}
.catalogue-list__preview > img {
    height: 100%;
}
.catalogue-list__views-count {
    padding-left: 32px;
    width: fit-content;
    margin-left: auto;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    color: #fff;

    background-image: url(../img/icons8-eye-48.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
}
.catalogue-list__views-count + .catalogue-list__h3 {
    margin-top: 32px;
}
.catalogue-list__h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
}
.catalogue-list__p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 16px;
    color: #a8a8a8;
}
.catalogue-list__h3  + .catalogue-list__p {
    margin-top: 12px;
}
.tags-wrapper {
}
.primary-btn {
    display: block;
    min-width: 120px;
    width: fit-content;
    padding: 10px 20px;

    background-color: #3a016e;
    border-radius: 24px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    text-decoration: none;

    cursor: pointer;
    transition: linear .2s;
}
.primary-btn:hover {
    background-color: #2c0253;
}
.rating-wrapper {
    margin-left: auto;
    width: fit-content;

    display: flex;
    align-items: center;
}
.rating-wrapper > :not(:last-child) {
    margin-right: 12px;
}
.like-btn {
    display: flex;
    align-items: flex-end;

    cursor: pointer;
}
.like-btn > img {
    margin-right: 2px;
    width: 28px;

    transform: rotate(180deg);
}
.like-btn span {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
}
.dislike-btn {
    display: flex;
    align-items: flex-end;

    cursor: pointer;
}
.dislike-btn > img {
    margin-right: 2px;
    width: 28px;

    transform: rotate(180deg);
}
.dislike-btn span {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
}
.like-btn, .dislike-btn {
    transition: linear .2s;
}
.like-btn:hover, .dislike-btn:hover {
    opacity: .6;
}

.catalogue-section .paggination-list {
    grid-column: 2 span;
}

.paggination-list {
    margin: 60px auto;
    width: fit-content;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.paggination-list__item {
    margin-bottom: 6px;

    min-width: unset;
    width: fit-content;
    padding: 8px 16px;

    border-radius: 4px;
}
.paggination-list__item:not(:last-child) {
    margin-right: 8px;
}

/* Catalogue section *Stop* */


/* Footer *Start* */

.footer {
    padding: 60px 0;
}
.footer > .container {
    margin: 0 160px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}

.footer-nav {
    margin-left: auto;
    width: fit-content;
}

.footer-nav:not(:last-child) {
    margin-bottom: 32px;
}

.footer-nav__item {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: #fff;
    text-decoration: none;

    transition: linear .2s;
}
.footer-nav__item:hover {
    opacity: .6;
}
.footer-nav__item:not(:last-child) {
    margin-right: 16px;
}

/* Footer *Stop* */

/* Article section *Start* */

.article-section {
    padding: 100px 0;
}

.article-section > .container {
    margin: 0 160px;
}
.article-section .text-h1 {
    text-align: left;
}
.text-p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: #a8a8a8;
    text-decoration: none;

    transition: linear .2s;
}
.text-h1 + .text-p {
    margin-top: 24px;
}
.article-section .text-p {
    max-width: 1000px;
}

.article-header + .article-content {
    margin-top: 24px;
}

.article-content > .text-p:not(:last-child) {
    margin-bottom: 12px;
}

/* Article section *Stop* */

/* Banner section *Start* */

.banners-section > .container {
    margin: 0 160px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.banners-section > .container > .grid-wrapper {
    width: fit-content;
    margin: 0 auto;
}
.banner-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.banner-list__item {
    width: 468px;
    height: 60px;

    overflow: hidden;

    transition: linear .2s;
}
.banner-list__item:hover {
    opacity: .6;
}
.banner-list__item > a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-list__item img {
    width: 100%;
}
/* Banner section *Stop* */

/* Banners Aside *Start* */

.banners-aside > .container {
    padding: 20px;
}
.banners-aside .banners-list {
    display: flex;
    flex-direction: column;
}
.banners-list__item {
    width: 285px;
    height: 200px;

    overflow: hidden;

    transition: linear .2s;
}
.banners-list__item:hover {
    opacity: .6;
}
.banners-list__item > a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banners-list__item:not(:last-child) {
    margin-bottom: 56px;
}

/* Banners Aside *Stop* */